html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #333333;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  padding-top: 80px;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 510px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 690px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

.title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.first-word {
  color: #d1a954;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 50px;
  letter-spacing: 0em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.projects {
  background-color: aquamarine;
}

.contacts {
  background-color: palevioletred;
}

.about {
  background-color: slateblue;
}

.partners {
  background-color: greenyellow;
}

.form {
  background-color: royalblue;
}

*,
*::before,
*::after {
  outline: 1px solid tomato;
}

.fixed-panel .social-icon {
  opacity: 0.6;
}

.header-container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 90px;
}

.contact {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.phone-abs {
  position: absolute;
  right: 33px;
}

.header-phone {
  position: relative;
  padding-bottom: 5px;
}

.header .header-phone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d1a954;
}

.header {
  position: relative;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #333333;
  display: none;
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu-button {
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px transparent;
}

.mobile-menu-button.is-open {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 30px;
  left: 205px;
  padding: 0 11px;
}

.mobile-menu-button .button-close-icon {
  display: none;
}

.mobile-menu-button.is-open .button-open-icon {
  display: none;
}

.mobile-menu-button.is-open .button-close-icon {
  display: block;
}

.mobile-menu-container {
  padding: 110px 43px 88px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    padding: 140px 43px;
  }
}

.mobile-nav {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    margin-bottom: 89px;
  }
}

.mobile-nav .item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .mobile-nav .item:not(:last-child) {
    margin-bottom: 35px;
  }
}

.mobile-nav .link {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.375;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-nav .link {
    font-size: 24px;
  }
}

.mobile-social-list {
  padding-left: 37px;
  padding-right: 37px;
}

.mobile-social-list .social-list-column:nth-child(1) {
  margin-bottom: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .mobile-social-list .social-list-column:nth-child(1) {
    margin-bottom: 44px;
  }
}

.social-list-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-container {
  padding-bottom: 107px;
  padding-top: 107px;
  height: 510px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 169px 114px 252px;
    height: 717px;
  }
}

@media screen and (min-width: 992px) {
  .hero-container {
    padding: 232px 261px 365px 191px;
    height: 893px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 190px 45px 208px 45px;
    height: 968px;
  }
}

.hero-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.36;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 50px;
  height: 68px;
}

.hero-container .link {
  color: #ffffff;
  background-color: #d1a954;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 47px;
}

.header-hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-mobile.jpg);
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-mobile.jpg);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-mobile@2x.jpg);
  }
}

@media screen and (min-width: 992px) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-largetablet.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-largetablet.jpg);
  }
}

@media screen and (min-width: 992px) and (min-device-pixel-ratio: 2), screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 992px) and (min-resolution: 192dpi), screen and (min-width: 992px) and (min-resolution: 2dppx) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-largetablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-largetablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-desktop.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/hero-background-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/hero-background-desktop@2x.jpg);
  }
}

.about-second-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about .text {
  text-align: center;
}

.numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numbers-list .item:not(:last-child) {
  margin-right: 60px;
}

.numbers-text {
  margin-top: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.05em;
}

.rating > .container {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 126px;
  padding-bottom: 126px;
}

@media screen and (max-width: 1199px) {
  .rating {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9))), url(../images/main/rating-background.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../images/main/rating-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .rating {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/rating-background@2x.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/rating-background@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .rating > .container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9))), url(../images/main/rating-background.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../images/main/rating-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .rating > .container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85))), url(../images/main/rating-background@2x.jpg);
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../images/main/rating-background@2x.jpg);
  }
}

.rating-year {
  margin-right: 24px;
}

.year-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #d1a954;
}

.stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.stars-container .item:not(:last-child) {
  margin-right: 20px;
}

.rating-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-list .item {
  margin-right: 78px;
  margin-bottom: 80px;
}

.partners-list .item:nth-child(2n) {
  margin-right: 0;
}

.partners-list .item:nth-child(3) {
  margin-bottom: 0;
}

.partners-list .item:nth-child(4) {
  margin-bottom: 0;
}

.partners-list .item:nth-last-child(-n + 4) {
  display: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.form-field-message {
  margin-bottom: 40px;
}

.form-input {
  width: 230px;
  height: 35px;
  color: #ffffff;
  font-size: 12px;
  background-color: #444444;
  border: 1px solid #616161;
  padding-left: 15px;
}

.form-message {
  width: 509px;
  height: 100px;
  padding-top: 10px;
}

.button-send {
  margin-bottom: 30px;
  width: 190px;
  height: 50px;
  color: #ffffff;
  background-color: #d1a954;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.form-button-security {
  text-align: center;
  margin-bottom: 50px;
}

.form-label,
.form-security-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  color: #989898;
}

.form-security-text {
  font-weight: 400;
}

.address-nav {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-nav .list .item:not(:last-child) {
  margin-bottom: 25px;
}

.address-list {
  text-align: right;
}

.footer-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: #989898;
}

.footer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.footer-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #565656;
}
/*# sourceMappingURL=main.css.map */