// .form-label {
//   display: none;
// }

// .form-field:focus .form-label,
// .form-field:focus .form-label {
//   display: inline;
// }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-field-message {
  margin-bottom: 40px;
}

.form-input {
  width: 230px;
  height: 35px;
  color: $white;
  font-size: 12px;

  background-color: $form-backgroung;
  border: 1px solid $form-border;

  padding-left: 15px;
}

.form-message {
  width: 509px;
  height: 100px;
  padding-top: 10px;
}

.button-send {
  margin-bottom: 30px;
  width: 190px;
  height: 50px;

  color: $white;
  background-color: $accent-color;

  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.form-button {
  text-align: center;
  margin-bottom: 50px;
}

.form-label,
.form-security-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.09em;

  color: $text-color;
}

.form-security-text {
  font-weight: 400;
}
