.header {
  position: relative;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;

  background-color: $bg-main;
  display: none;

  &.is-open {
    display: block;
  }
}

.mobile-menu-button {
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px transparent;

  &.is-open {
    background-color: transparent;
    border: 1px solid transparent;

    position: absolute;
    top: 30px;
    left: 205px;
    padding: 0 11px;
  }
}

.mobile-menu-button .button-close-icon {
  display: none;
}

.mobile-menu-button.is-open .button-open-icon {
  display: none;
}

.mobile-menu-button.is-open .button-close-icon {
  display: block;
}

.mobile-menu-container {
  padding: 110px 43px 88px;

  @media screen and (min-width: 768px) {
    padding: 140px 43px;
  }
}

.mobile-nav {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 89px;
  }

  .item:not(:last-child) {
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .link {
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.375;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $white;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.mobile-social-list {
  padding-left: 37px;
  padding-right: 37px;

  .social-list-column:nth-child(1) {
    margin-bottom: 25px;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      margin-bottom: 44px;
    }
  }
}

.social-list-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
