.projects > .container {
  padding-bottom: 80px;
}

.projects-list .project-link {
  width: 442px;
  height: 550px;
  position: relative;
}

.project-link {
  color: $white;
}

.projects-list .project-link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(
    to right,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}

.projects-list .project-link:hover::after,
.projects-list .project-link:focus::after {
  background: none;
}

.projects-list .project-link:hover:before,
.projects-list .project-link:focus:before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  background-color: $accent-color;
  transform: translate(-50px, -50px);
  border-radius: 50%;
  background-image: url(/images/icon/search.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

// .project-list .search-link {
//   display: block;
//   width: 100px;
//   height: 100px;
// position: absolute;
// top: 50%;
// left: 50%;
// z-index: 5;
// background-color: $accent-color;
// transform: translate(-50px, -50px);
// border-radius: 50%;
// background-image: url(/images/icon/search.svg);
// background-size: 30px;
// background-repeat: no-repeat;
// background-position: center;
// }

.project-name {
  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
}

.project-date {
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;

  position: absolute;
  bottom: 40px;
  left: 65px;
  z-index: 10;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.projects-list .project-link:hover .project-name,
.projects-list .project-link:focus .project-name,
.projects-list .project-link:hover .project-date,
.projects-list .project-link:focus .project-date {
  display: none;
}
