.rating > .container {
  height: 550px;
  display: flex;
  align-items: center;

  padding-top: 126px;
  padding-bottom: 126px;
}

@media screen and (max-width: 1199px) {
  .rating {
    background-image: linear-gradient(
        to right,
        rgba(51, 51, 51, 0.9),
        rgba(51, 51, 51, 0.9)
      ),
      url(../images/main/rating-background.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(51, 51, 51, 0.85),
          rgba(51, 51, 51, 0.85)
        ),
        url(../images/main/rating-background@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .rating > .container {
    background-image: linear-gradient(
        to right,
        rgba(51, 51, 51, 0.9),
        rgba(51, 51, 51, 0.9)
      ),
      url(../images/main/rating-background.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(51, 51, 51, 0.85),
          rgba(51, 51, 51, 0.85)
        ),
        url(../images/main/rating-background@2x.jpg);
    }
  }
}

.rating-year {
  margin-right: 24px;
}

.year-item {
  font-family: $main-font;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.36;
  text-transform: uppercase;

  color: $accent-color;
}

.stars-container {
  display: flex;
  margin-bottom: 25px;
}

.stars-container .item:not(:last-child) {
  margin-right: 20px;
}

.rating-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
}
