.projects {
  background-color: aquamarine;
}

.contacts {
  background-color: palevioletred;
}

.about {
  background-color: slateblue;
}

.partners {
  background-color: greenyellow;
}

.form {
  background-color: royalblue;
}

*,
*::before,
*::after {
  outline: 1px solid tomato;
}

.fixed-panel .social-icon {
  opacity: 0.6;
}
